
cache/*.json
log_*
.DS_Store
cmdr_scripts/__pycache__/*
cflib/__pycache__/__init__.cpython-311.pyc
cflib/cpx/__pycache__/__init__.cpython-311.pyc
cflib/cpx/__pycache__/transports.cpython-311.pyc
cflib/crazyflie/__pycache__/__init__.cpython-311.pyc
cflib/crazyflie/__pycache__/appchannel.cpython-311.pyc
cflib/crazyflie/__pycache__/commander.cpython-311.pyc
cflib/crazyflie/__pycache__/console.cpython-311.pyc
cflib/crazyflie/__pycache__/extpos.cpython-311.pyc
cflib/crazyflie/__pycache__/high_level_commander.cpython-311.pyc
cflib/crazyflie/__pycache__/localization.cpython-311.pyc
cflib/crazyflie/__pycache__/log.cpython-311.pyc
cflib/crazyflie/__pycache__/param.cpython-311.pyc
cflib/crazyflie/__pycache__/platformservice.cpython-311.pyc
cflib/crazyflie/__pycache__/toc.cpython-311.pyc
cflib/crazyflie/__pycache__/toccache.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/__init__.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/deck_memory.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/i2c_element.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/led_driver_memory.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/led_timings_driver_memory.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/lighthouse_memory.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/loco_memory_2.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/loco_memory.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/memory_element.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/memory_tester.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/multiranger_memory.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/ow_element.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/paa3905_memory.cpython-311.pyc
cflib/crazyflie/mem/__pycache__/trajectory_memory.cpython-311.pyc
cflib/crtp/__pycache__/__init__.cpython-311.pyc
cflib/crtp/__pycache__/crtpdriver.cpython-311.pyc
cflib/crtp/__pycache__/crtpstack.cpython-311.pyc
cflib/crtp/__pycache__/exceptions.cpython-311.pyc
cflib/crtp/__pycache__/prrtdriver.cpython-311.pyc
cflib/crtp/__pycache__/radiodriver.cpython-311.pyc
cflib/crtp/__pycache__/serialdriver.cpython-311.pyc
cflib/crtp/__pycache__/tcpdriver.cpython-311.pyc
cflib/crtp/__pycache__/udpdriver.cpython-311.pyc
cflib/crtp/__pycache__/usbdriver.cpython-311.pyc
cflib/drivers/__pycache__/__init__.cpython-311.pyc
cflib/drivers/__pycache__/cfusb.cpython-311.pyc
cflib/drivers/__pycache__/crazyradio.cpython-311.pyc
cflib/utils/__pycache__/__init__.cpython-311.pyc
cflib/utils/__pycache__/callbacks.cpython-311.pyc
cflib/utils/__pycache__/encoding.cpython-311.pyc
